################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/credit-card-service/.vs
/credit-proposal-service/.vs
/customer-service/.vs
/customer-service/src/CustomerService.API/obj
/customer-service/src/CustomerService.Application/obj
/customer-service/src/CustomerService.Domain/obj
/customer-service/src/CustomerService.Infrastructure/obj
/customer-service/src/CustomerService.IoC/obj
/credit-card-service/src/CreditCardService.Application/obj
/credit-card-service/src/CreditCardService.Domain/obj
/credit-card-service/src/CreditCardService.Host/obj
/credit-card-service/src/CreditCardService.Infrastructure/obj
/credit-card-service/src/CreditCardService.IoC/obj
/credit-proposal-service/src/CreditProposalService.Application/obj
/credit-proposal-service/src/CreditProposalService.Domain/obj
/credit-proposal-service/src/CreditProposalService.Host/obj
/credit-proposal-service/src/CreditProposalService.Infrastructure/obj
/credit-proposal-service/src/CreditProposalService.IoC/obj
/customer-service/src/CustomerService.API/bin
/customer-service/src/CustomerService.Application/bin
/customer-service/src/CustomerService.Domain/bin
/customer-service/src/CustomerService.Infrastructure/bin
/customer-service/src/CustomerService.IoC/bin
/credit-proposal-service/src/CreditProposalService.Application/bin
/credit-proposal-service/src/CreditProposalService.Domain/bin
/credit-proposal-service/src/CreditProposalService.Host/bin
/credit-proposal-service/src/CreditProposalService.Infrastructure/bin
/credit-proposal-service/src/CreditProposalService.IoC/bin
/credit-card-service/src/CreditCardService.Application/bin
/credit-card-service/src/CreditCardService.Domain/bin
/credit-card-service/src/CreditCardService.Host/bin
/credit-card-service/src/CreditCardService.Infrastructure/bin
/credit-card-service/src/CreditCardService.IoC/bin
/customer-service/src/CustomerService.Infrastructure/Migrations
/credit-proposal-service/src/CreditProposalService.Api/obj
/credit-proposal-service/src/CreditProposalService.Api/bin
/credit-proposal-service/src/CreditProposalService.Infrastructure/Migrations
/credit-card-service/src/CreditCardService.Api/bin
/credit-card-service/src/CreditCardService.Api/obj
/customer-service/src/CustomerService.API/Logs
/customer-service/src/CustomerService.API/Properties/PublishProfiles
/customer-service/src/CustomerService.API/CustomerService.API.csproj.user
/credit-proposal-service/src/CreditProposalService.Api/Logs
/credit-proposal-service/tests/CreditProposalService.Tests/bin
/credit-proposal-service/tests/CreditProposalService.Tests/obj
/customer-service/tests/CustomerService.Tests/bin
/customer-service/tests/CustomerService.Tests/obj
/credit-card-service/src/CreditCardService.Api/Logs
/credit-card-service/tests/CreditCardService.Tests/bin
/credit-card-service/tests/CreditCardService.Tests/obj
